*.class
*.log
.project
.sonar
.toDelete
# IDEA
.idea/**

ui/js/**

# test data
datadir/

null/**

# sbt specific
**/.sbtserver
**/.sbtserver.lock
.cache
.history
.lib/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
